@inherits LayoutComponentBase

<PageTitle>News.Nft.Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-[#111827]">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4 bg-[#111827]">
            @Body
        </article>
    </main>
</div>
