@page "/admin"

<PageTitle>Admin</PageTitle>

@using News.Nft.Admin.Data

<h1>Admin Functionality</h1>

<button class="btn-danger">Deploy Contract</button>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        
    }
}
